<a href="https://colab.research.google.com/github/lepaque/odmy/blob/master/ms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()
import sqlite3

# Create an in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the users table
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    country_of_citizenship TEXT,
    country_of_residence TEXT,
    passport_number TEXT,
    passport_issuing_country TEXT,
    passport_expiration_date TEXT,
    visa_type TEXT,
    visa_issuing_country TEXT,
    visa_expiration_date TEXT,
    national_id_number TEXT,
    international_address TEXT,
    postal_code TEXT,
    language_preference TEXT,
    currency TEXT,
    time_zone TEXT
)
''')

# Insert some sample data
cursor.execute("INSERT INTO users (name, country_of_citizenship) VALUES (?, ?)", ('Alice', 'USA'))

# Commit changes and close the connection
conn.commit()
conn.close()

NameError: name 'cursor' is not defined

In [ ]:
import sqlite3

# Create an in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the users table
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    country_of_citizenship TEXT,
    country_of_residence TEXT,
    passport_number TEXT,
    passport_issuing_country TEXT,
    passport_expiration_date TEXT,
    visa_type TEXT,
    visa_issuing_country TEXT,
    visa_expiration_date TEXT,
    national_id_number TEXT,
    international_address TEXT,
    postal_code TEXT,
    language_preference TEXT,
    currency TEXT,
    time_zone TEXT
)
''')

# Insert some sample data
cursor.execute("INSERT INTO users (name, country_of_citizenship) VALUES (?, ?)", ('Alice', 'USA'))

# Commit changes
conn.commit()

cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()

# Close the connection
conn.close()

In [ ]:
cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()
import sqlite3

# Create an in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the users table
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    country_of_citizenship TEXT,
    country_of_residence TEXT,
    passport_number TEXT,
    passport_issuing_country TEXT,
    passport_expiration_date TEXT,
    visa_type TEXT,
    visa_issuing_country TEXT,
    visa_expiration_date TEXT,
    national_id_number TEXT,
    international_address TEXT,
    postal_code TEXT,
    language_preference TEXT,
    currency TEXT,
    time_zone TEXT
)
''')

# Insert some sample data
cursor.execute("INSERT INTO users (name, country_of_citizenship) VALUES (?, ?)", ('Alice', 'USA'))

# Commit changes
conn.commit()

cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()

# Close the connection
conn.close()

ProgrammingError: Cannot operate on a closed database.

In [ ]:
import sqlite3

# Create an in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the users table
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    country_of_citizenship TEXT,
    country_of_residence TEXT,
    passport_number TEXT,
    passport_issuing_country TEXT,
    passport_expiration_date TEXT,
    visa_type TEXT,
    visa_issuing_country TEXT,
    visa_expiration_date TEXT,
    national_id_number TEXT,
    international_address TEXT,
    postal_code TEXT,
    language_preference TEXT,
    currency TEXT,
    time_zone TEXT
)
''')

# Insert some sample data
cursor.execute("INSERT INTO users (name, country_of_citizenship) VALUES (?, ?)", ('Alice', 'USA'))

# Commit changes
conn.commit()

cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()

# Close the connection
conn.close()

In [ ]:
cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()
import sqlite3

# Create an in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the users table
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    country_of_citizenship TEXT,
    country_of_residence TEXT,
    passport_number TEXT,
    passport_issuing_country TEXT,
    passport_expiration_date TEXT,
    visa_type TEXT,
    visa_issuing_country TEXT,
    visa_expiration_date TEXT,
    national_id_number TEXT,
    international_address TEXT,
    postal_code TEXT,
    language_preference TEXT,
    currency TEXT,
    time_zone TEXT
)
''')

# Insert some sample data
cursor.execute("INSERT INTO users (name, country_of_citizenship) VALUES (?, ?)", ('Alice', 'USA'))

# Execute the query before closing the connection
cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()

# Commit changes and close the connection
conn.commit()
conn.close()

print(rows) # Print the results of the queryimport sqlite3

# Create an in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the users table
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    country_of_citizenship TEXT,
    country_of_residence TEXT,
    passport_number TEXT,
    passport_issuing_country TEXT,
    passport_expiration_date TEXT,
    visa_type TEXT,
    visa_issuing_country TEXT,
    visa_expiration_date TEXT,
    national_id_number TEXT,
    international_address TEXT,
    postal_code TEXT,
    language_preference TEXT,
    currency TEXT,
    time_zone TEXT
)
''')

# Insert some sample data
cursor.execute("INSERT INTO users (name, country_of_citizenship) VALUES (?, ?)", ('Alice', 'USA'))

# Execute the query before closing the connection
cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()

# Commit changes and close the connection
conn.commit()
conn.close()

print(rows) # Print the results of the query

ProgrammingError: Cannot operate on a closed database.

In [ ]:
import sqlite3

# Create an in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the users table
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    country_of_citizenship TEXT,
    country_of_residence TEXT,
    passport_number TEXT,
    passport_issuing_country TEXT,
    passport_expiration_date TEXT,
    visa_type TEXT,
    visa_issuing_country TEXT,
    visa_expiration_date TEXT,
    national_id_number TEXT,
    international_address TEXT,
    postal_code TEXT,
    language_preference TEXT,
    currency TEXT,
    time_zone TEXT
)
''')

# Insert some sample data
cursor.execute("INSERT INTO users (name, country_of_citizenship) VALUES (?, ?)", ('Alice', 'USA'))

# Execute the query before closing the connection
cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()

# Commit changes and close the connection
conn.commit()
conn.close()

print(rows) # Print the results of the query

cursor.execute("SELECT name, country_of_residence FROM users")
rows = cursor.fetchall()

[]

ProgrammingError: Cannot operate on a closed database.

In [ ]:
import sqlite3

# Create an in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the users table
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    country_of_citizenship TEXT,
    country_of_residence TEXT,
    passport_number TEXT,
    passport_issuing_country TEXT,
    passport_expiration_date TEXT,
    visa_type TEXT,
    visa_issuing_country TEXT,
    visa_expiration_date TEXT,
    national_id_number TEXT,
    international_address TEXT,
    postal_code TEXT,
    language_preference TEXT,
    currency TEXT,
    time_zone TEXT
)
''')

# Insert some sample data
cursor.execute("INSERT INTO users (name, country_of_citizenship) VALUES (?, ?)", ('Alice', 'USA'))

# Execute the query before closing the connection
cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()

# Commit changes and close the connection
conn.commit()

#This query needs to be executed before the connection is closed
cursor.execute("SELECT name, country_of_residence FROM users")
rows = cursor.fetchall()
print(rows) # Print the results of the query

conn.close()

[('Alice', None)]

In [ ]:
cursor.execute("SELECT * FROM users ORDER BY name ASC")
rows = cursor.fetchall()
import sqlite3

# Create an in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the users table
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    country_of_citizenship TEXT,
    country_of_residence TEXT,
    passport_number TEXT,
    passport_issuing_country TEXT,
    passport_expiration_date TEXT,
    visa_type TEXT,
    visa_issuing_country TEXT,
    visa_expiration_date TEXT,
    national_id_number TEXT,
    international_address TEXT,
    postal_code TEXT,
    language_preference TEXT,
    currency TEXT,
    time_zone TEXT
)
''')

# Insert some sample data
cursor.execute("INSERT INTO users (name, country_of_citizenship) VALUES (?, ?)", ('Alice', 'USA'))

# Execute the query before closing the connection
cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()

# Commit changes and close the connection
conn.commit()

#This query needs to be executed before the connection is closed
cursor.execute("SELECT name, country_of_residence FROM users")
rows = cursor.fetchall()
print(rows) # Print the results of the query

conn.close()

ProgrammingError: Cannot operate on a closed database.

In [ ]:
cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()
import sqlite3

# Create an in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the users table
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    country_of_citizenship TEXT,
    country_of_residence TEXT,
    passport_number TEXT,
    passport_issuing_country TEXT,
    passport_expiration_date TEXT,
    visa_type TEXT,
    visa_issuing_country TEXT,
    visa_expiration_date TEXT,
    national_id_number TEXT,
    international_address TEXT,
    postal_code TEXT,
    language_preference TEXT,
    currency TEXT,
    time_zone TEXT
)
''')

# Insert some sample data
cursor.execute("INSERT INTO users (name, country_of_citizenship) VALUES (?, ?)", ('Alice', 'USA'))

# Execute the query before closing the connection
cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()

#This query needs to be executed before the connection is closed
cursor.execute("SELECT name, country_of_residence FROM users")
rows = cursor.fetchall()
print(rows) # Print the results of the query

# Commit changes and close the connection
conn.commit()

# Execute the query before closing the connection
cursor.execute("SELECT * FROM users ORDER BY name ASC")
rows = cursor.fetchall()
print(rows)

conn.close()

ProgrammingError: Cannot operate on a closed database.

In [ ]:
import sqlite3
cursor.execute("SELECT name, country_of_residence FROM users")
rows = cursor.fetchall()

# Create an in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the users table
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    country_of_citizenship TEXT,
    country_of_residence TEXT,
    passport_number TEXT,
    passport_issuing_country TEXT,
    passport_expiration_date TEXT,
    visa_type TEXT,
    visa_issuing_country TEXT,
    visa_expiration_date TEXT,
    national_id_number TEXT,
    international_address TEXT,
    postal_code TEXT,
    language_preference TEXT,
    currency TEXT,
    time_zone TEXT
)
''')

# Insert some sample data
cursor.execute("INSERT INTO users (name, country_of_citizenship) VALUES (?, ?)", ('Alice', 'USA'))

# Execute the query before closing the connection
cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()

#This query needs to be executed before the connection is closed
cursor.execute("SELECT name, country_of_residence FROM users")
rows = cursor.fetchall()
print(rows) # Print the results of the query

# Execute the query before closing the connection
cursor.execute("SELECT * FROM users ORDER BY name ASC")
rows = cursor.fetchall()
print(rows)

# Commit changes and close the connection
conn.commit()
conn.close()

ProgrammingError: Cannot operate on a closed database.

In [ ]:
import sqlite3

# Create an in-memory database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create the users table
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    country_of_citizenship TEXT,
    country_of_residence TEXT,
    passport_number TEXT,
    passport_issuing_country TEXT,
    passport_expiration_date TEXT,
    visa_type TEXT,
    visa_issuing_country TEXT,
    visa_expiration_date TEXT,
    national_id_number TEXT,
    international_address TEXT,
    postal_code TEXT,
    language_preference TEXT,
    currency TEXT,
    time_zone TEXT
)
''')

# Insert some sample data
cursor.execute("INSERT INTO users (name, country_of_citizenship) VALUES (?, ?)", ('Alice', 'USA'))

# Execute the query before closing the connection
cursor.execute("SELECT * FROM users WHERE country_of_residence = 'France'")
rows = cursor.fetchall()

#This query needs to be executed before the connection is closed
cursor.execute("SELECT name, country_of_residence FROM users")
rows = cursor.fetchall()
print(rows) # Print the results of the query

# Execute the query before closing the connection
cursor.execute("SELECT * FROM users ORDER BY name ASC")
rows = cursor.fetchall()
print(rows)

# Commit changes and close the connection
conn.commit()
conn.close()

[('Alice', None)]
[(1, 'Alice', 'USA', None, None, None, None, None, None, None, None, None, None, None, None, None)]